# Copyright (c) 2020 Red Hat, Inc.

org: open-cluster-management

global:
  imageOverrides:
    governance_policy_propagator: ""
    grc_ui: ""
    grc_ui_api: ""
  pullPolicy: Always

arch:
  - amd64
  - ppc64le
  - s390x
pullSecret: null

governance:
  resources:
    requests:
      memory: "64Mi"
      cpu: "25m"
grcui:
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
grcuiapi:
  resources:
    requests:
      memory: "256Mi"
      cpu: "50m"

hubconfig:
  nodeSelector: null
  replicaCount: 1
